
nav{
    margin-bottom: 20px;
}
.product{
    transition: transform 300ms;
}
.product:hover{
transform: scale(1.05);
box-shadow: 0 0 10px rgba(0,0,0,0.55);
}
.container{
    width: 90%;
    max-width:1500px;
}